<a href="https://colab.research.google.com/github/AmaniAlqarni/AI-Models/blob/main/InspectionDataSet_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
file = ('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class/inspections.csv')
insp = pd.read_csv(file)
insp[:-1]

       business_id  score      date     type
0               19     94  20160513  routine
1               19     94  20171211  routine
2               24     98  20171101  routine
3               24     98  20161005  routine
4               24     96  20160311  routine
...            ...    ...       ...      ...
14216        94012    100  20171220  routine
14217        94012     90  20180112  routine
14218        94133    100  20171227  routine
14219        94142    100  20171220  routine
14220        94189     96  20171130  routine

[14221 rows x 4 columns]

In [ ]:
file = ('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class/violations.csv')
viol = pd.read_csv(file)
viol[:-1]

,business_id,date,description
0,19,20171211,Inadequate food safety knowledge or lack of ce...
1,19,20171211,Unapproved or unmaintained equipment or utensils
2,19,20160513,Unapproved or unmaintained equipment or utensi...
3,19,20160513,Unclean or degraded floors walls or ceilings ...
4,19,20160513,Food safety certificate or food handler card n...
...,...,...,...
39036,94012,20180112,Wiping cloths not clean or properly stored or ...
39037,94189,20171130,Insufficient hot water or running water
39038,94231,20171214,Unclean nonfood contact surfaces [ date viola...
39039,94231,20171214,High risk vermin infestation [ date violation...
39040,94231,20171214,Moderate risk food holding temperature [ dat...

In [ ]:
# Task 1, Inspection Dataset:
from pathlib import Path
import os


# File Format
inspection = Path('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class') / 'inspections.csv'
with inspection.open() as f:
    # Display first five lines of file
    for _ in range(3):
        print(f.readline())
# From the output, the format of the inspections dataset is in Delimited format ==>
# Because it uses a comma to separate data values.



# File Size
inspection = Path('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class') / 'inspections.csv'
print(f'File size: {os.path.getsize(inspection) / 1024:0.2f} KiB')



# File Encoding
import chardet
encoding = chardet.detect(inspection.read_bytes())['encoding']
print(f'File encoding: {encoding}')

"business_id","score","date","type"

19,"94","20160513","routine"

19,"94","20171211","routine"

File size: 455.18 KiB
File encoding: ascii

In [ ]:
# Task 1, Violation Dataset:
from pathlib import Path
import os


# File Format
violation = Path('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class') / 'violations.csv'
with violation.open() as f:
    # Display first five lines of file
    for _ in range(3):
        print(f.readline())
# From the output, the format of the violation dataset is in Delimited format ==>
# Because it uses a comma to separate data values.



# File Size
violation = Path('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class') / 'violations.csv'
print(f'File size: {os.path.getsize(violation) / 1024:0.2f} KiB')



# File Encoding
import chardet
encoding = chardet.detect(violation.read_bytes())['encoding']
print(f'File encoding: {encoding}')

"business_id","date","description"

19,"20171211","Inadequate food safety knowledge or lack of certified food safety manager"

19,"20171211","Unapproved or unmaintained equipment or utensils"

File size: 3638.87 KiB
File encoding: ascii

In [ ]:
# Task 2
# Granularity for Inpection and Violation files


# Find the shape table for both files
print("Inspections shape:", insp.shape)
# Inspection table has 14222 rows and 4 columns.
# To find the granularity of this table, each row represent


print("Violations shape:", viol.shape)
# Violation table has 39042 rows and 3 columns.
# To find the granularity of this table, each row represent



# Check if there is a uniques features
print("Number of records:", len(insp))
print("Number of unique business ids in insp dataset:", len(insp['business_id'].unique()))
print("Number of records:", len(viol))
print("Number of unique business ids in viol dataset:", len(viol['business_id'].unique()))




# GRANUALRITY FOR INSPECTION TABLE ----->>

# For inpection table, every row represents information related to the inspection for a specific business id,
# Which are score, date of the inspection, and the inspection type for one business id,
# Also, there is more than one insepection for the same business id.





# GRANUALRITY FOR VIOLATION TABLE ----->>

# For violation table, every row represents information related to the violation for a specific business id,
# Which are the data, and the description of the violance for one business id,
# Also, there is more than one violation for the same business id and even on the same day.

Inspections shape: (14222, 4)
Violations shape: (39042, 3)
Number of records: 14222
Number of unique business ids in insp dataset: 5766
Number of records: 39042
Number of unique business ids in viol dataset: 5317

In [ ]:
# Task 3

# Transform the timestamp "date column" to get filter the table by 2017 year only
date_format = '%Y%m%d'
def parse_dates_and_years(df, column='date'):
    dates = pd.to_datetime(df[column], format=date_format)
    years = dates.dt.year
    return df.assign(timestamp=dates, year=years)

viol = (pd.read_csv('/content/gdrive/MyDrive/ColabNotebooks/Sep21_class/violations.csv')
        .pipe(parse_dates_and_years))

# Filter the viol table to get only 2017
viol = viol[viol['year'] == 2017]
viol.head()


# Using .value_counts() to find the number of violation from description column
viol_counts = viol['description'].value_counts()


# Display first 20
viol_counts[:20]

Unclean or degraded floors walls or ceilings                                 743
Unapproved or unmaintained equipment or utensils                             498
Improper food storage                                                        350
Inadequately cleaned or sanitized food contact surfaces                      341
Inadequate and inaccessible handwashing facilities                           331
Wiping cloths not clean or properly stored or inadequate sanitizer           306
Moderate risk food holding temperature                                       304
Unclean nonfood contact surfaces                                             271
Moderate risk vermin infestation                                             265
Foods not protected from contamination                                       255
Food safety certificate or food handler card not available                   254
Low risk vermin infestation                                                  223
Permit license or inspection report not posted                               208
Inadequate food safety knowledge or lack of certified food safety manager    192
Improper storage of equipment utensils or linens                             184
Improper or defective plumbing                                               144
High risk food holding temperature                                           125
Inadequate warewashing facilities or equipment                               114
Inadequate ventilation or lighting                                           110
No thermometers or uncalibrated thermometers                                  87
Name: description, dtype: int64

In [ ]:
# Task 4
# Merge the new viol table with inpection table
merged_table = pd.merge(viol, insp)
merged_table


# Filter the insp table to get only 2017
merged_table = merged_table[merged_table['year'] == 2017]
merged_table.head()


# Adding new feature "num_vio" to the "merged_table" and use .transform
# to determine the number of violations of a business at the same time
merged_table['num_vio'] = merged_table.groupby(['business_id', 'timestamp'])['description'].transform('count')


# Remove the duplicates
merged_table.drop_duplicates('num_vio')

,business_id,date,description,timestamp,year,score,type,num_vio
0,19,20171211,Inadequate food safety knowledge or lack of ce...,2017-12-11,2017,94,routine,2
2,24,20171101,Improper food storage,2017-11-01,2017,98,routine,1
3,45,20170914,Unclean nonfood contact surfaces,2017-09-14,2017,85,routine,4
7,45,20170307,Moderate risk vermin infestation [ date viola...,2017-03-07,2017,88,routine,5
12,54,20170215,Moderate risk food holding temperature,2017-02-15,2017,87,routine,3
18,58,20170918,Inadequately cleaned or sanitized food contact...,2017-09-18,2017,70,routine,7
30,67,20170804,Improper food storage [ date violation correc...,2017-08-04,2017,81,routine,6
143,273,20171002,High risk vermin infestation,2017-10-02,2017,75,routine,8
566,1005,20170713,Low risk vermin infestation [ date violation ...,2017-07-13,2017,78,routine,9
1360,2104,20170130,Unclean or degraded floors walls or ceilings ...,2017-01-30,2017,66,routine,10
2540,3550,20170807,Improper thawing methods,2017-08-07,2017,68,routine,11
7591,66961,20170724,Inadequate and inaccessible handwashing facili...,2017-07-24,2017,57,routine,12

In [ ]:
# Task 5

# Since I used .duplicate() in Task 4 for the merged_table, the NaN values disappeared,
# so, I assigned a new variable to the same table before dropping the diplicates value,
# to be able to count the number of NaN values in the dataframe.
violation_counts = viol.groupby('business_id')['description'].transform('count')
new_feature = merged_table.assign(num_vio = violation_counts)
new_feature.head()


# Creating count_NaN variable and store in it the number of missing values in 'num_vio' column by using .isna().sum()
count_NaN = new_feature['num_vio'].isna().sum()

# Display the count of NaN
print ('Count of NaN: ' + str(count_NaN))

Count of NaN: 9452

In [ ]:
# Task 5
# Dealing with missing values


# I addressed the missing values here by checking if the NaN values can be imputed by one of the three approaches:

# First one is the deductive approach: in this case, I do not see any logical relation between the variables
# to be able to substitute the NaN values by the number of violations for a specific business id.
# Also, there is so many varibles that are NaN and I find it hard to substitute every one based on the logical relations.


# Second one is the mean computation to fill the NaN values by calculating the average of num_vio column,
# and substitute the NaN with its value and I think it is better way than using the deuctive imputation.


# Third one is the hot-deck imputation, I did not use this one because picking random number from this dataset,
# will result in less strong relationship between the variables becaues of the randomness between the number of violations,
# adding to that, the number of NaN values is huge to pick random number for all of them,
# finally, if the picked number is a big number, this might gives some bsuinesses larger violation which might impact our findings.


# To be more safe in making the number of violations close to other business id, I decided to use MEAN IMPUTATION
# Calculating the mean of 'num_vio' column and fill the missing values in 'num_vio' column by using .fillna() and .mean()
new_feature['num_vio']=new_feature['num_vio'].fillna(new_feature['num_vio'].mean())


# since the number of violation can not be ONE violation AND HALF for example , I converted it to discrete values.
# Here, I used .astype() to make the float number of the mean to be an integer.
discrete_mean = new_feature.astype({"num_vio":'int'})


# Remove the duplicates
discrete_mean.drop_duplicates('num_vio')

,business_id,date,description,timestamp,year,score,type,num_vio
0,19,20171211,Inadequate food safety knowledge or lack of ce...,2017-12-11,2017,94,routine,2
2,24,20171101,Improper food storage,2017-11-01,2017,98,routine,5
5,45,20170914,Unclean or degraded floors walls or ceilings,2017-09-14,2017,85,routine,1
10,45,20170307,Unclean or degraded floors walls or ceilings ...,2017-03-07,2017,88,routine,9
31,67,20170804,Unclean nonfood contact surfaces [ date viola...,2017-08-04,2017,81,routine,3
34,67,20170804,Moderate risk food holding temperature [ dat...,2017-08-04,2017,81,routine,4
45,88,20171016,Unclean or degraded floors walls or ceilings ...,2017-10-16,2017,82,routine,7
70,101,20170627,Wiping cloths not clean or properly stored or ...,2017-06-27,2017,90,routine,6
119,208,20170731,Moderate risk food holding temperature,2017-07-31,2017,90,routine,8
698,1241,20171018,Foods not protected from contamination,2017-10-18,2017,90,routine,10
1945,2808,20170621,Other low risk violation [ date violation cor...,2017-06-21,2017,81,routine,12
2829,4072,20170707,Unclean nonfood contact surfaces,2017-07-07,2017,94,routine,13
2943,4548,20170814,Permit license or inspection report not posted,2017-08-14,2017,92,routine,16
4063,7482,20171129,Improper food labeling or menu misrepresentation,2017-11-29,2017,94,routine,14
4711,19076,20170626,High risk vermin infestation,2017-06-26,2017,65,routine,17
6244,59896,20170920,Improper food labeling or menu misrepresentation,2017-09-20,2017,92,routine,11
9919,77913,20170130,Inadequate and inaccessible handwashing facili...,2017-01-30,2017,92,routine,15