<a href="https://colab.research.google.com/github/AmaniAlqarni/AI-Models/blob/main/WalmartDataSet_A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
file = ('/content/gdrive/MyDrive/ColabNotebooks/walmart.csv')
walmart = pd.read_csv(file)
walmart

,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,Unemployment,MarkDown
0,2010-02-05,24924.50,No,42.31,2.572,8.106,No Markdown
1,2010-02-12,46039.49,Yes,38.51,2.548,8.106,No Markdown
2,2010-02-19,41595.55,No,39.93,2.514,8.106,No Markdown
3,2010-02-26,19403.54,No,46.63,2.561,8.106,No Markdown
4,2010-03-05,21827.90,No,46.50,2.625,8.106,No Markdown
...,...,...,...,...,...,...,...
138,2012-09-28,18947.81,No,76.08,3.666,6.908,MarkDown5
139,2012-10-05,21904.47,No,68.55,3.617,6.573,MarkDown2
140,2012-10-12,22764.01,No,62.99,3.601,6.573,MarkDown2
141,2012-10-19,24185.27,No,67.97,3.594,6.573,MarkDown2
142,2012-10-26,27390.81,No,69.16,3.506,6.573,MarkDown1

In [ ]:
# Task 1:
# Identify whether it is a regression or a classification problem.
# Since the output is a continuous number, it is a Regression Problem.

# Drop the date column and build X (input, features other than Weekly_Sales)
X = walmart.drop('Date', axis = 1)

# and Y (output, Weekly_Sales). (2 points)
Y = walmart['Weekly_Sales']

#X
#Y

In [ ]:
# Task 2:
# identify the qualitative features (nominal/ordinal) and
# Qualitative features are ['Date'= Ordinal, 'IsHoliday' = Nominal, 'MarkDown' = Nominal]


# perform the appropriate encoding. (4 points)
# Since I dropped the 'Data' feature, there is no need for ordinal hot encoding.
# I'm using one hot encoding for the two Nominal features 'IsHoliday' and 'MarkDown'
# Instantiate OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse = False)

In [ ]:
# Make column transformer for OneHotEncoder
column_transform = make_column_transformer(
    (ohe, ['MarkDown', 'IsHoliday']))

In [ ]:
# Task 3:
# Split the data into training and testing (1 point)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)

print("X_train shape: ", X_train.shape)
print("Y_train shape: ", Y_train.shape)
print("X_test shape: ", X_test.shape)
print("Y_test shape: ", Y_test.shape)

X_train shape:  (100, 6)
Y_train shape:  (100,)
X_test shape:  (43, 6)
Y_test shape:  (43,)

In [ ]:
# Task 3:
# Instantiate pipeline with linear regression
lm = LinearRegression()
lm_pipeline = make_pipeline(column_transform, lm)

In [ ]:
# Task 3:

# Train the linear regression model on training set (1 point)
lm_pipeline.fit(X_train, Y_train)


# Evaluate the linear regression model on test set (1 point)
lm_predictions = lm_pipeline.predict(X_test)
print("First 5 LM predictions: ", list(lm_predictions[:4]))

First 5 LM predictions:  [23785.85364006827, 22572.715249730074, 22572.715249730074, 21049.394602417196]

In [ ]:
# Task 3:
# Display the mean absolute error and mean squared error (1 point)


# Calculate mean square error and root mean squared error
lm_mae = mean_absolute_error(lm_predictions, Y_test)
lm_rmse =  np.sqrt(mean_squared_error(lm_predictions, Y_test))
print("LM MAE: {:.2f}".format(round(lm_m    ae, 2)))
print("LM RMSE: {:.2f}".format(round(lm_rmse, 2)))

LM MAE: 8019.22
LM RMSE: 10923.65